.orange_ceiling{
    background-color: #FF8836;
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.table{
    padding-top:50px;
}