.App {
    text-align: center;
  }
  
  .App-logo {
    height: 20vmin;
    
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      
      padding: 25px;
    }
  }
  
  #InitLabel1{
    background-color: white;
    text-decoration-color: #737373;
    color: #737373;
    padding: 10px 50px 10px 50px;
    border-style: solid;
    margin: 50px;
    font-weight: bold;
    font-style: italic;
    font-size:x-large;
    border-radius:  15px;
  }
  
  #ButtonInitLabel{
    border-radius:1000px;
    background-color: white;
    border-style: solid;
    border-color: #737373;
    color: #737373;
    padding: 10px;
    
    margin-top: 50px;
    margin-left: 0ch;
  }
  
  #InputAreaInitLabel2{
    background-color: white;
    color: #737373;
    margin: 50px;
    border-width:5px ; 
    border-color: #737373;
  }
  input[type=text] {
    width: 20%;
    padding: 5px 20px;
    font-size:x-large;
    padding-right: 20px;
    box-sizing:content-box;
    border-style: solid;
  }
  
  #InitLabel2{
    background-color: white;
    text-decoration-color: #737373;
    color: #737373;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    padding: 10px;
    margin: 20px;
    border-style:solid ;
    border-radius:  120px;
  }
  .App-header {
    background-color: #FF8836;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  