#pestaña{
    background-color: #737373;
    box-sizing: content-box;
    width: 100%;
    margin-left:10% ;
    margin-right:10% ;


    
}

#tablagris{
    background-color: #737373;
    box-sizing: content-box;
    width: 70%;
    margin-left:10% ;
    margin-right:10% ;
}
