#pestaña{
    background-color: #737373;
    padding: 20px 35px 20px 30px;
    margin-left: 250px;
    margin-right: 250px;
    
}

#tablagris{
    background-color: #737373;
    margin-left: 250px;
    margin-right: 250px; 
    padding: 350px 20px 350px 20px;
}